@import "tailwindcss";

@theme {
  --color-background: #143109;
  --color-foreground: #fafafa;
  --color-primary: #988f2a;
  --color-primary-foreground: #143109;
  --color-secondary: #9f7833;
  --color-secondary-foreground: #fafafa;
  --color-card: #183913;
  --color-card-foreground: #fafafa;
  --color-muted: #1c3f12;
  --color-muted-foreground: #cfcfcf;
  --color-border: #2a4d18;
  --color-input: #1c3f12;
  --color-ring: #988f2a;
}

html,
body {
  min-height: 100%;
}
